<strong>{{firstName}} {{lastName}}</strong> 
<ul>
    {{#each people as |person index|}}
        <li>
            <b>{{person.firstName}} {{index}}</b>
        </li>
    {{/each}}
</ul>

<ul>
    {{#each-in child as |key value|}}
          <li>{{key}}: {{value}}</li>
    {{/each-in}}
</ul>
